* { margin:0; padding:0; }
body { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; color:#333; }
h2 { color:#333; font-size:24px; }
a { text-decoration:none; color:#444; }
ul { margin:8px 0 0 26px; color:#666; }
li { line-height:20px; }

@media all and (max-width:900px) {
    .content-interface { width:100% !important; }
    .store { width:100% !important; }
}

/* ----- New game ----- */
.new-game { width:100%; height:100%; position:fixed; left:0; top:0; background-color:#2c3e50; z-index:3000;
    -webkit-animation:background-change 30s infinite; }
.new-game-text { width:100%; color:#fff; font-size:48px; font-weight:300; text-align:center; -webkit-animation:text-in 1s; -moz-animation:text-in 1s; 
    animation:text-in 1s; position:absolute; left:0; top:100px; }
.new-game-p { display:block; width:800px; text-align:center; position:absolute; left:50%; top:180px; margin-left:-400px; color:#fff;
    -webkit-animation:text-in2 2s; -moz-animation:text-in2 2s; animation:text-in2 2s; font-size:18px; opacity:1; }

@-webkit-keyframes background-change {
    0% { background-color:#2c3e50; } 10% { background-color:#1abc9c; } 20% { background-color:#2ecc71; } 30% { background-color:#3498db; }
    40% { background-color:#9b59b6; } 50% { background-color:#f1c40f; } 60% { background-color:#e67e22; } 70% { background-color:#e74c3c; }
    80% { background-color:#16a085; } 90% { background-color:#f39c12; } 100% { background-color:#d35400; }
}

@-webkit-keyframes text-in { 0% { opacity:0; top:0; } 100% { opacity:1; top:100px; } }
@-moz-keyframes text-in { 0% { opacity:0; top:0; } 100% { opacity:1; top:100px; } }
@keyframes text-in { 0% { opacity:0; top:0; } 100% { opacity:1; top:100px; } }

@-webkit-keyframes text-in2 { 0% { opacity:0; top:0; } 100% { opacity:1; top:180px; font-weight:300; } }
@-moz-keyframes text-in2 { 0% { opacity:0; top:0; } 100% { opacity:1; top:180px; } }
@keyframes text-in2 { 0% { opacity:0; top:0; } 100% { opacity:1; top:180px; } }

/* ----- Content (parte de cima) ----- */
.content-color { width:100%; height:50%; min-height:340px; float:left; position:relative; }

.about { width:78px; height:34px; line-height:34px; line-height:34px; padding:4px 0; display:block; text-align:center; position:absolute; top:0;
    left:0; color:#fff; font-size:14px; text-decoration:none; background-color:#2980b9; transition:400ms opacity; border-radius:0 0 3px 0; }
.about:hover { opacity:0.9; }

.about-wrap { width:100%; height:100%; position:fixed; background-color:rgba(0,0,0,0.7); opacity:0; z-index:-100; transition:600ms all; }
.about-wrap-ativo { opacity:1; z-index:1100; }
.about-container { width:500px; padding:40px; background-color:#fff; border-radius:6px; position:absolute; left:50%; top:0; margin-left:-290px;
    margin-top:-165px; color:#999; font-size:14px; opacity:0; transition:600ms all; }
.about-container-ativo { top:50%; opacity:1; }
.about-close { width:80px; height:20px; display:block; line-height:20px; padding:8px 0; text-align:center; float:right; border-radius:5px;
    background-color:#f9f9f9; transition:400ms background-color; margin-top:30px; }
.about-close:hover { background-color:#eee; }

.cor { width:600px; height:100px; text-align:center; font-size:72px; line-height:100px; position:absolute; left:50%; top:50%; margin-left:-300px;
    margin-top:-50px; transition:1s ease-in color; color:#fff; font-weight:300; }

.click-me { width:300px; height:36px; line-height:36px; font-size:18px; text-align:center; display:block; margin:50px auto 0 auto; font-weight:bold;
    text-decoration:none; transition:1s ease-in color; }

/* ----- Interface (parte de baixo) ----- */
.content-interface { width:70%; min-height:340px; float:left; position:relative; background-color:#eee; overflow:hidden; }
.interface-wrap { width:100%; padding:50px 0; margin:0 auto; }

.alerta { height:20px; line-height:20px; color:brown; text-align:center; font-size:14px; opacity:0; transition:500ms opacity; }

.clicker { width:156px; height:30px; line-height:30px; padding:13px 0; display:block; margin:50px auto; border-radius:3px; background-color:#2e3e56;
    color:#fff; text-align:center; text-decoration:none; border-bottom:3px solid #262d38; font-weight:300; }
.counter { font-size:16px; margin-top:30px; text-align:center; color:#333; }
.frag-per-second { font-size:10px; margin-top:2px; text-align:center; color:#999; }

/* ----- Store ----- */
.store { width:30%; float:right; min-height:340px; background-color:#192332; }
.store-wrap { overflow-x:hidden; min-height:340px; overflow-y:scroll; }

.store-wrap::-webkit-scrollbar-track { background-color:none; }
.store-wrap::-webkit-scrollbar { width:8px !important; }
.store-wrap::-webkit-scrollbar-thumb { background-color:rgba(255,255,255,0.1); }

.store-wrap::scrollbar-track { -moz-appearance:none !important; background-color:none; }
.store-wrap::scrollbar { -moz-appearance:none !important; width:8px !important; }
.store-wrap::scrollbar-thumb { -moz-appearance:none !important; background-color:rgba(255,255,255,0.1); }

.store-a { line-height:20px; display:block; padding:20px; color:#fff; font-weight:500; cursor:pointer; margin-top:1px;
    border-left:6px solid #b82d51; background-color:#111926; transition:600ms all; }
.store-a:hover { opacity:0.7; }
.store-span { color:#aaa; font-size:12px; font-weight:300; }
.store-desc { font-weight:300; font-size:12px; line-height:14px; }

/* ----- Achievements ----- */
.achievements { width:368px; padding:16px; position:absolute; left:50%; bottom:-200px; margin-left:-200px; background-color:#2e987e;
    border:1px solid #26826b; border-radius:3px 3px 0 0; color:#fff; font-size:14px; font-weight:300; text-align:center; opacity:0;
    transition:3s ease-in bottom, 3s ease-in opacity; }
.achievements-span { font-size:12px; opacity:0.5; }
.achievements-ativo { bottom:0; opacity:1; }

/* ----- Extras ----- */
.clear-both { clear:both; height:0; overflow:hidden; }